.row
  .col-md-4.col-md-offset-4
    %h1 Your weight for today:
    - if @todays_weight.nil?
      = form_for@weight_entry do |f|
        %p
          = f.text_field :value
        %p
          = f.submit "Save"
    - else
      %h3.text-center= @todays_weight

    %p The time is #{Time.now.strftime("%I:%M %p")}
